/* ROOT */

:root {
  --color-menu: #4a4a4a;
  --background-page: #3cdbc0;
  --color-main: #ffffff;
}

/* ======== ESTILO GENERAL ====== */
* {
  font-family: "Rubik", sans-serif;
}

/* Header */

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-main);
}

.main-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 155px;
  margin-top: 10px;
}

/* .main-menu .container {
  width: 100%;
} */

.nav-header {
  width: 100vw;
  height: 80px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-menu__item {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 13px;
}

/* Main content */

.main-container {
  background-color: var(--background-page);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.title {
  color: var(--color-main);
  font-size: 30px;
  line-height: 0.1;
}

/* ======== TABLET AND DESKTOP RESPONSIVE ====== */
@media all and (min-with: 768px) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-header {
    background-color: transparent;
    width: 50%;
