/* ROOT */

:root {
  --color-menu: #4a4a4a;
  --background-page: #3cdbc0;
  --color-main: #ffffff;
}

/* ======== ESTILO GENERAL ====== */
* {
  font-family: "Rubik", sans-serif;
}

/* Header */

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  width: 155px;
  margin-top: 10px;
  text-align: center;
}

.menu-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-menu);
  padding-bottom: 13px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Main content */

.main-container {
  background-color: var(--background-page);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.title {
  text-align: center;
  word-spacing: 100vw;
  font-weight: bold;
  font-size: 30px;
  color: var(--color-main);
  text-transform: capitalize;
}

/* ======== TABLET AND DESKTOP RESPONSIVE ====== */
@media all and (min-width: 768px) {
  .main-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 40px;
  }
}
